$font-family-base: "Open Sans",
sans-serif;
$headings-font-weight: 700;
$panel-default-text:#fff;
$table-bg-hover: darken(#F2F7FD, 5%) !default;
$brand-primary: #00233D !default;
$brand-secondary: #EBEBEB !default;
$brand-info: #439DD9 !default;
//Variables
$bg-color-menu: #fafbfc !default;
$color-menu:#fff;
$bg-color-content: #fafbfc;
$title-color: darken($brand-secondary, 30%);

$bg-color-content-light:$panel-default-text;