<section class="container">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between center">
        <div fxFlex.gt-sm="26" fxFlex.gt-xs="49" fxFlex="100">
            <mat-card color="primary">
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex.gt-sm="72" fxFlex.gt-xs="49" fxFlex="100">
            <mat-card color="primary">
                <mat-tab-group>
                    <mat-tab label="Repositories">
                        <mat-list>
                            <mat-list-item>
                                <label mat-line for="">project-01</label>
                                <span mat-line><small>Very Cool Project I was working for a while</small></span>
                                <mat-chip-list mat-line>
                                    <mat-chip>Papadum</mat-chip>
                                    <mat-chip>Naan</mat-chip>
                                    <mat-chip>Dal</mat-chip>
                                </mat-chip-list>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <label mat-line for="">project-01</label>
                                <span mat-line><small>Very Cool Project I was working for a while</small></span>
                                <mat-chip-list mat-line>
                                    <mat-chip>Papadum</mat-chip>
                                    <mat-chip>Naan</mat-chip>
                                    <mat-chip>Dal</mat-chip>
                                </mat-chip-list>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                            <mat-list-item>
                                <label mat-line for="">project-01</label>
                                <span mat-line><small>Very Cool Project I was working for a while</small></span>
                                <mat-chip-list mat-line>
                                    <mat-chip>Papadum</mat-chip>
                                    <mat-chip>Naan</mat-chip>
                                    <mat-chip>Dal</mat-chip>
                                </mat-chip-list>
                            </mat-list-item>
                        </mat-list>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</section>